body {
    background: hsl(189, 10%, 90%);
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
  }
  h1{
    Height:20px;
  text-align: center;
  }
  #img-div, #img-caption{
    width: 50%;
    height: 300px;
    margin:auto;
    align-items:center;
    
   
  }
#image{
  display:block;
  align-items:center;
  justify-content: center;
  max-width:100%;
  height:250px;
  background-color: #f7b31e;
  margin:0 auto;
}

/*#img-caption{        
  padding: 0.4rem;
  margin:10px auto;
}*/

p{
  width: 50%;
  font-size: min(5vw, 1.2em);
  text-align: center;
  justify-content: center;
  margin:auto;
  
}
a{display:block;
  
  margin:auto;
  margin-top:20px;
  text-align: center;
  }